# CONFIGURAÇÃO DE CONEXÃO COM A CORRETORA (CONTA REAL / TESTNET)
# IMPORTANTE: Desative OBRIGATORIAMENTE a permissão de SAQUE (Withdrawal) na sua chave de API!

BINANCE_API_KEY=sua_chave_api_aqui
BINANCE_API_SECRET=seu_segredo_api_aqui

# MODO DE EXECUÇÃO:
# True  = Execução em ambiente Simulado Oficial da Binance (Testnet - Sem dinheiro real)
# False = Execução em CONTA REAL na Binance
USE_TESTNET=True
